* {
    box-sizing: border-box;
}

.m-video {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    --progress-color: red;
}

.m-video video {
    width: 100%;
    max-width: 100%;
}

.m-video video::-webkit-media-controls-enclosure,
.m-video video::-webkit-media-controls {
    display: none !important;
}

.m-video input[type="range"] {
    height: 4px;
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
}

.m-video .v-controls {
    background: rgba(0, 0, 0, .6);
    padding: .5rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

.m-video .v-controls.--fs-abs,
.m-video .v-controls.--absolute {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.m-video.playing .v-controls.--absolute.--auto-hide,
.m-video .v-controls:not(.--absolute).--fs-abs {
    opacity: 0;
    transition: .3s;
}

.m-video .v-controls:hover.--absolute.--auto-hide,
.m-video .v-controls:hover.--fs-abs {
    opacity: 1;
}


.m-video .v-controls svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.m-video button {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}

.m-video button:focus,
.m-video button::-moz-focus-inner {
    border: 0;
    outline: none;
}

/* Slider in Chrome, Firefox, and Opera */
.m-video input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.6);
    height: 4px;
    border-radius: 4px;
    border: 0;
    width: 100%;
}

.m-video input[type="range"]::-moz-range-track {
    background: rgba(255, 255, 255, 0.6);
    height: 4px;
    border-radius: 4px;
    border: 0;
    width: 100%;
}

.m-video input[type="range"]::-ms-track {
    background: rgba(255, 255, 255, 0.6);
    height: 4px;
    border-radius: 4px;
    border: 0;
    width: 100%;
}

.m-video input[type="range"]::-ms-fill-lower {
    background: var(--progress-color, red);
}

.m-video input[type="range"]::-moz-range-progress {
    background: var(--progress-color, red);
}

.m-video input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--progress-color, red);
    width: 4px;
    height: 4px;
    margin-top: 0;
    border-radius: 50%;
    cursor: pointer;
}

.m-video input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    background: var(--progress-color, red);
    width: 4px;
    height: 4px;
    margin-top: 0;
    border-radius: 50%;
    cursor: pointer;
}

.m-video input[type="range"]::-ms-thumb {
    background: var(--progress-color, red);
    width: 4px;
    height: 4px;
    margin-top: 0;
    border-radius: 50%;
    cursor: pointer;
}

.m-video input[type="range"]::-webkit-slider-thumb {
    box-shadow: -1200px 0 0 1200px var(--progress-color, red);
    outline: none;
    border: 0;
}

.m-video .v-controls__btns {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.m-video .v-controls__btns .v-controls__btns__sound {
    width: 30%;
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.m-video .v-controls__btns .v-controls__btns__sound input[type="range"] {
    max-width: 90px;
}

.m-video .v-controls__btns .v-controls__btns_play {
    width: 40%;
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-video .v-controls__btns .v-controls__btns_fs {
    width: 30%;
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;
}

.m-video .v-controls .v-controls__timing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
}

.m-video .v-controls .v-controls__timing input[type="range"] {
    width: 100%;
    margin: 0 1rem;
}

.m-video .v-controls .v-controls__timing span {
    text-align: center;
    width: 58px;
    display: inline-block;
}
